torch
scikit-learn
tensorboard
sentence-transformers

Flask
jsonpath-ng
jsonpatch
networkx
numpy
coloredlogs
jsonpath-ng
jsonschema
scipy
Levenshtein
MarkupSafe
PyYAML
regex
requests
cython
pyyaml
ruamel.yaml
langchain
chromadb
sentence-transformers
tensorboardX
tensorboard
addict
eventlet
parsimonious
gevent
gevent-websocket
gunicorn
redis

