coloredlogs
jsonpath-ng
jsonschema
Levenshtein
MarkupSafe
PyYAML
regex
requests
cython
pyyaml
ruamel.yaml
langchain
chromadb
sentence-transformers
tensorboardX
tensorboard
addict
Flask-SocketIO
eventlet
parsimonious
matplotlib
gevent
gevent-websocket
gunicorn
redis

