.fractal-item {
  pointer-events: auto; /* Enables pointer events for this child */
  position: absolute;
  width: 15vw;
  overflow: visible;
  height: 19vh;
  margin: 5px;
  border-radius: 5px;
  display: grid;
}
