.search-grid {
  position: fixed; /* Positioned relative to the viewport */
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 0;
  pointer-events: none; /* This is the key property */
}
.search-item {
  pointer-events: auto; /* Enables pointer events for this child */
  position: absolute;
  width: 15vw;
  height: 17vh;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  display: grid;
}

@media screen and (max-width: 600px) {
  .item {
    width: 68px;
  }
  .grid {
    left: 10px;
  }
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 20;
}
.item.muuri-item-dragging {
  z-index: 30;
}
.item-content {
  font-family: serif;
  width: 100%;
  height: 100%;
  background: dodgerblue;
  color: white;
  cursor: pointer;
  font-size: clamp(12px, 4vw, 24px);
  vertical-align: bottom;
}
.item.muuri-item-dragging .item-content {
  background: blue;
}
.item.muuri-item-releasing .item-content {
  background: blueViolet;
}
