.puzzle-grid {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
}
.puzzle-item {
  position: absolute;

  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .puzzle-item {
    width: 68px;
  }
  .grid {
    left: 10px;
  }
}
.puzzle-item.muuri-item-hidden {
  z-index: 0;
}
.puzzle-item.muuri-item-releasing {
  z-index: 20;
}
.puzzle-item.muuri-item-dragging {
  z-index: 30;
}
.puzzle-item-content {
  font-family: serif;
  height: 100%;
  color: white;
  cursor: pointer;
  font-size: clamp(12px, 4vw, 24px);
  vertical-align: bottom;
}
.puzzle-item.muuri-item-dragging .item-content {
  background: blue;
}
.puzzle-item.muuri-item-releasing .item-content {
  background: blueViolet;
}

.top-left,
.top-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background: transparent;
}

.top-left {
  left: 0;
  shape-outside: polygon(0% 0, 100% 0, 0% 100%);
  clip-path: polygon(0% 0, 100% 0, 0% 100%);
}

.top-right {
  right: 0;
  shape-outside: polygon(100% 0, 100% 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.puzzle .react-transform-component {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow: visible !important;
}

.puzzle .react-transform-wrapper {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow: visible !important;
}

.ant-steps-item-wait .ant-steps-item-icon {
  background-color: yellowgreen !important;
  opacity: 0.5;
}
