.App {
  background: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
  width: 100vw !important;
  position: fixed;
  color: white;
}

.App > * {
  /* filter: invert(1); */
}

.App-logo {
  height: 40vmin;
}

.ant-tabs-tab,
.ant-input,
ant-btn {
  color: white;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 100%;
  height: 100%;
}

@keyframes fallToGround {
  from {
    transform: perspective(1000px) rotateX(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(45deg) skewY(0deg);
  }
}

.fallAnimation {
  transform-origin: 50% 90%; /* 50% horizontally (center), 100% vertically (bottom) */

  animation: fallToGround 1s forwards; /* 1 second duration, animation only plays once and stops at the final state */
}

.react-transform-wrapper .react-transform-component {
  overflow: visible !important;
}

.triangle {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  perspective: 1000px;
}

.triangle-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 10000;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
}

@keyframes foldFromForeground {
  0% {
    transform: rotateX(90deg) rotateZ(90deg);
  }
  100% {
    transform: rotateX(0deg) rotateZ(0deg);
  }
}

.fold-foreground {
  animation: foldFromForeground 2s ease forwards;
  animation-fill-mode: forwards;
}
@keyframes foldFromRightTop {
  0% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

.fold-right-top {
  animation: foldFromRightTop 2s ease forwards;
  animation-fill-mode: forwards;
}
@keyframes foldFromLeftTop {
  0% {
    transform: rotateZ(90deg) rotateY(-90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
}

.fold-left-top {
  animation: foldFromLeftTop 2s ease forwards;
  animation-fill-mode: forwards;
}

.pin {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 999999;
}

.pin-content {
  bottom: 0;
  position: absolute;
}

.pin-line {
  left: 0;
  top: 0;
  background-color: lawngreen;
  width: 3px;
  height: auto; /* Will adjust based on content */
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pin-bulb {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  margin-top: 5px; /* Separation between bulb and text */
}
.pin-labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pin-text {
  position: relative;
}

.right-container {
  display: flex;
  justify-content: space-between; /* Spacing out the controls */
  align-items: center; /* Vertically centering items */
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 99999998;
}
.mobile-controls {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  z-index: 10;
}

.red {
  background-color: orange;
  opacity: 0.5 !important;
}

.ant-steps-item-title {
  color: #00acc1 !important;
}

.ant-progress-inner {
  background-color: rgb(32 32 182 / 56%) !important;
}
.button {
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s background;
}

.button:hover {
  background: #555;
}

@media screen and (max-width: 600px) {
  .left-controls,
  .right-controls,
  .top-controls,
  .bottom-controls,
  .share-button {
    width: 7vw !important;
    height: 7vw !important;
  }
}

.top-search,
.left-controls,
.right-controls,
.top-controls,
.bottom-controls,
.share-button {
  position: absolute;
  z-index: 999999999;
}

.top-search {
  z-index: 999999999999;
}

#search {
  background-color: rgba(0, 0, 0, 0);
  font:
    bolder 12px Helvetica,
    Verdana,
    sans-serif;
  color: antiquewhite;
}

.right-controls {
  transform: translateX(40px);
}

.left-controls {
  transform: translateX(-40px);
}

.top-controls {
  transform: translateY(-40px);
}

.bottom-controls {
  transform: translateY(40px);
}

@media screen and (max-width: 600px) {
  .top-search,
  .left-controls,
  .right-controls,
  .top-controls,
  .bottom-controls,
  .share-button {
    .right-controls {
      transform: translateX(25px);
    }

    .left-controls {
      transform: translateX(-25px);
    }

    .top-controls {
      transform: translateY(-25px);
    }

    .bottom-controls {
      transform: translateY(25px);
    }
  }
}

@keyframes copiedAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #19ab19;
  }
  100% {
    background-color: #fff;
  }
}

.copied-animation {
  animation: copiedAnimation 1s ease-out;
}

.ant-modal-centered {
  z-index: 100000000 !important;
}

.tooltips {
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  zindex: 99999999;
  overflow: auto;
  resize: both;
}

.ant-tree,
.ant-tree-treenode {
  font-size: small !important;
}

ant-tree-icon__customize,
.ant-tree-switcher-noop,
.ant-tree-node-content-wrapper {
  line-height: 17px !important;
}
.ant-tree-switcher {
  width: 12px !important;
}

.ant-tree-indent-unit {
  width: 10px !important;
}
@media screen and (max-width: 600px) {
  .tooltips {
    position: absolute;
    height: 33vh;
    width: 100vw;
    bottom: 0;
    top: 67vh;
    font-size: xx-small !important;
    left: -80.1vw;
  }
  .ant-tree,
  .ant-tree-treenode {
    font-size: xx-small !important;
  }
}

.bibtex-entry {
}

.bibtex-entry strong {
  font-size: 1.2em;
}

.bibtex-entry a {
  color: #007bff;
  text-decoration: none;
}

.grid {
  position: fixed; /* Positioned relative to the viewport */
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 0;
  pointer-events: none; /* This is the key property */
}

.inline {
  display: inline-block;
}
