.test-item {
  pointer-events: auto; /* Enables pointer events for this child */
  position: absolute;
  width: 2vw;
  height: 3vw;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  display: grid;
}
