.grid {
  position: relative;
  height: 160px !important;
  width: 70vw !important;
  left: 150px;
}
.item {
  position: absolute;
  width: 90px;
  height: 140px;
  margin: 5px;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .item {
    width: 68px;
  }
  .grid {
    left: 10px;
  }
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 20;
}
.item.muuri-item-dragging {
  z-index: 30;
}
.item-content {
  font-family: serif;
  width: 100%;
  height: 100%;
  background: dodgerblue;
  color: white;
  cursor: pointer;
  font-size: clamp(12px, 4vw, 24px);
  vertical-align: bottom;
}
.item.muuri-item-dragging .item-content {
  background: blue;
}
.item.muuri-item-releasing .item-content {
  background: blueViolet;
}
